body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: blue;
    font-size: 24pt;
}

a {
    color:red;
}

a:hover{
	background-color: black;
}

#important_paragraph:hover{
background-color: blue;
font-size: 40px;
color:red;
}

.less_important_paragraph:hover{
	color:blue;
}

#hidden_div{
	display: none;
}

#span_cover:hover + #hidden_div {
    display: block;
}